export(GFDrmtlGUI)
export(RMTL.test)

import(shiny)
import(plyr)
import(GFDrmst)

importFrom(shinyMatrix, matrixInput)
importFrom(shinyWidgets,autonumericInput)
importFrom(lpSolve,lp)
importFrom(GFDmcv, contr_mat)
importFrom(MASS,ginv)
importFrom(shinyjs,hidden)
importFrom(shinyjs,hide)
importFrom(shinyjs,show)
importFrom(shinyjs,useShinyjs)
importFrom(shinythemes,shinytheme)
importFrom(tippy,tippy_this)
importFrom("mvtnorm", "qmvnorm", "rmvnorm", "pmvnorm")
importFrom("graphics", "axis", "par", "segments")
importFrom("stats", "as.formula", "model.frame", "na.omit", "p.adjust", "terms", "pchisq", "qchisq")
importFrom("utils", "read.csv")
